* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-size: 13px;
}

window#waybar {
    /* border-radius: 30px; */
    /* background-color: rgba(100, 114, 125, 1); */
    background-color: black;
    /* border-bottom: 0.6rem solid #229; */
    color: black;

    /* transition-property: background-color; */
    /* transition-duration: .5s; */
}

window#waybar.hidden {
    opacity: 0.2;
}


window#waybar.empty {
    background-color: black;
}

button {
    box-shadow: inset 0 -3px transparent;
    border: none;
    border-radius: 6ex;
    padding: 0 5px;
    min-width: 60px;
    min-height: 3.0ex;
    /* transition: box-shadow .2s ease; */
    /* box-shadow: inset 0px 0px 10px 2px @color-sky-blue; */

    /* animation-name: rounding; */
    /* animation-duration: .5s; */
    /* animation-timing-function: steps(5); */
    /* animation-iteration-count: infinite; */
    /* animation-direction: alternate; */
}

button:hover {
    background: inherit;
    /* animation-name: rounding_alt; */
    /* animation-duration: .5s; */
    /* animation-timing-function: steps(5); */
    /* animation-iteration-count: infinite; */
    /* animation-direction: alternate;*/
}

/* #pulseaudio:hover { */
/* } */

#workspaces button {
    color: black;
    padding: 0px 5px;
    margin-left: 20px;
    margin: 10px 10px;
    border-radius: 50px;
}

#workspaces botton.active {
    background-color: rgba(090, 094, 225, 1);
}

/* #workspaces button:hover { */
/* } */

#workspaces button.focused {
    box-shadow: inset 0 -3px white;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#mode {
    background-color: #64727D;
    box-shadow: inset 0 -3px white;
}

@keyframes rounding_alt {
  to {
    box-shadow: inset 0px 0px 10px 6px rgba(150, 0,150,1);
  }
}

@keyframes rounding {
  to {
    box-shadow: inset 0px 0px 10px 6px rgba(0,120,120,1);
  }
}

#memory,
#cpu,
#network,
#temperature,
#power-profiles-daemon,
#pulseaudio,
#bluetooth,
#battery,
#clock,
#custom-power {
  padding: 0px 5px;
  margin: 10px 10px;
  min-width: 60px;
  min-height: 3.6ex;
  border-radius: 6ex;
  /* transition: box-shadow .2s ease; */

  /* animation-name: rounding; animation-duration: .5s; */
  /* animation-timing-function: steps(5); */
  /* animation-iteration-count: infinite; */
  /* animation-direction: alternate; */
}

#memory:hover,
#cpu:hover,
#network:hover,
#temperature:hover,
#power-profiles-daemon:hover,
#pulseaudio:hover,
#bluetooth:hover,
#battery:hover,
#clock:hover,
#custom-power:hover
{
    background: inherit;
    /* animation-name: rounding_alt; */
    /* animation-duration: .5s; */
    /* animation-timing-function: steps(5); */
    /* animation-iteration-count: infinite; */
    /* animation-direction: alternate; */
}

#window,
#workspaces {
    border-radius: 30px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}
.modules-left,
.modules-center,
.modules-right {
    background-color: #005060;
    padding: 0px 5px;
    margin-left: 20px;
    margin: 10px 10px;
    border-radius: 50px;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#battery.charging, #battery.plugged {
}

@keyframes blink {
    to {
        background-color: white;
        color: black;
    }
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
    /* animation-name: blink; */
    /* animation-duration: 0.5s; */
    /* animation-timing-function: steps(12); */
    /* animation-iteration-count: infinite; */
    /* animation-direction: alternate; */
}

#power-profiles-daemon:hover {
}

#power-profiles-daemon.performance {
}

#power-profiles-daemon.balanced {
}

#power-profiles-daemon.power-saver {
}

label:focus {
    background-color: black;
}

#disk {
    background-color: #964B00;
    border-radius: 10px;
}

#backlight {
    background-color: #90b1b1;
    border-radius: 10px;
}

#wireplumber {
    background-color: #fff0f5;
    color: black;
}

#wireplumber.muted {
    background-color: #f53c3c;
}

#custom-media {
    background-color: #66cc99;
    color: #2a5c45;
    min-width: 100px;
}

#custom-media.custom-spotify {
    background-color: #66cc99;
}

#custom-media.custom-vlc {
    background-color: #ffa000;
}

#temperature {
    background-color: #f0932b;
}

#temperature.critical {
    background-color: #eb4d4b;
}

#tray {
    background-color: #2980b9;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}

#idle_inhibitor {
    background-color: #2d3436;
}

#idle_inhibitor.activated {
    background-color: #ecf0f1;
    color: #2d3436;
}

#mpd {
    background-color: #66cc99;
    color: #2a5c45;
}

#mpd.disconnected {
    background-color: #f53c3c;
}

#mpd.stopped {
    background-color: #90b1b1;
}

#mpd.paused {
    background-color: #51a37a;
}

#language {
    background: #00b093;
    color: #740864;
    padding: 0 5px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state {
    background: #97e1ad;
    color: black;
    padding: 0 0px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state > label {
    padding: 0 5px;
}

#keyboard-state > label.locked {
    background: rgba(0, 0, 0, 0.2);
}

#custom-menu {
  color: black;
  padding: 0 0;
  border-radius: 10px;
  border: none;
  min-width: 3.6ex;
  min-height: 3.6ex;
  /* transition: all 0.5s ease; */

  /* animation-name: rounding; */
  /* animation-duration: .5s; */
  /* animation-timing-function: steps(5); */
  /* animation-iteration-count: infinite; */
  /* animation-direction: alternate; */
}

#group-menu-group #custom-menu:hover {
  min-height: 3.80ex;
  min-width: 3.80ex;
}
#custom-firefox {
  background-color:rgba(0, 200,255,0);
  color: #ff5000;
  border-radius: 50%; 
  margin: 10px;
  /* transition: all 0.5s ease; */
  /* transition: opacity 0.5s ease, background-color 0.5s ease; */
}

#custom-firefox:hover {
  background-color: rgb(150, 50, 0);
  color: #ff5000;
  border-radius: 50%; 
  min-width: 3.80ex;
  min-height: 3.80ex;
  padding-left: 6px;
}

#custom-discord {
  color: #0000ff;
  border-radius: 50%; 
  margin: 10px;
  /* transition: all 0.5s ease; */
}

#custom-discord:hover {
  background-color: #002055;
  color: #0000ff;
  border-radius: 50%; 
  min-width: 3.80ex;
  min-height: 3.80ex;
  padding-left: 6px;
}

#custom-spotify {
  background-color: rgba(0, 200, 255, 0);
  color: green;
  border-radius: 50%; 
  margin: 10px;
  /* transition: all 0.5s ease; */
}

#custom-spotify:hover {
  background-color: black;
  color: green;
  border-radius: 50%; 
  min-width: 3.80ex;
  min-height: 3.80ex;
  padding-left: 6px;
  opacity: 1;
}

#custom-brave {
  background-color:rgba(0, 200,255,0);
  color: rgb(200,100,0);
  border-radius: 50%; 
  margin: 10px;
  /* transition: all 0.5s ease; */
}

#custom-brave:hover {
  background-color: rgb(200,100,0);
  color: white;
  border-radius: 50%; 
  min-width: 3.80ex;
  min-height: 3.80ex;
  padding-left: 6px;
}

#group-menu-group:hover #custom-firefox,
#group-menu-group:hover > #custom-firefox,
#group-menu-group.expanded #custom-firefox,
#group-menu-group:hover #custom-discord,
#group-menu-group:hover > #custom-discord,
#group-menu-group.expanded #custom-discord,
#group-menu-group:hover #custom-spotify,
#group-menu-group:hover > #custom-spotify,
#group-menu-group.expanded #custom-spotify {
  opacity: 1;
  min-height: 4.44ex;
}

#scratchpad {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad.empty {
	background-color: transparent;
}

#privacy {
    padding: 0;
}

#privacy-item {
    padding: 0 5px;
    color: white;
}

#privacy-item.screenshare {
    background-color: #cf5700;
}

#privacy-item.audio-in {
    background-color: #1ca000;
}

#privacy-item.audio-out {
    background-color: #0069d4;
}
