/* COLORS*/
@define-color color-coral-red #f53c3c;
@define-color color-international-orange #ff5300;
@define-color color-dark-orange #ff9300;
@define-color color-yellow #fff000;
@define-color color-lime-green #56ff00;
@define-color color-malachite #00bc48;
@define-color color-green #26A65B;
@define-color color-sky-blue #00b8ff;
@define-color color-cyan-blue #2980b9;
@define-color color-darker-blue #09162b;
@define-color color-dark-blue #03253b;
@define-color color-violet #472548;
@define-color color-purple #5b0060;
  /* NEON*/
@define-color color-neon-light-blue #09d7ff;
@define-color color-neon-blue #0500ff;
@define-color color-neon-pink #f309ff;

  /* NON-COLORS */
@define-color color-white #FFFFFF;
@define-color color-light-grey #a4a4a4;
@define-color color-grey#636363;
@define-color color-dark-grey #363636;
@define-color color-darker-grey #141414;
@define-color color-black #000000;

@define-color color-buttons-right @color-grey;
@define-color color-buttons-hover-right @color-dark-grey;

* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-size: 13px;
}

window#waybar {
    /* border-radius: 13px; */
    background-color: transparent;
    /* border-bottom: 3px solid rgba(100, 114, 125, 0.5); */
    color: @color-black;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}


window#waybar.empty {
    background-color: @color-black;
}

/* window#waybar.solo { */
/*     background-color: #FFFFFF; */
/* } */

/* window#waybar.termite { */
/*     background-color: #3F3F3F; */
/* } */

/* window#waybar.chromium { */
/*     background-color: #000000; */
/*     border: none; */
/* } */

button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 10px;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: inherit;
    box-shadow: inset 0 -7px @color-black;
}

/* you can set a style on hover for any module like this */
#pulseaudio:hover {
    /* background-color: #a37800; */
    /* background-color: @color-buttons-hover-right; */
}

#workspaces button {
    padding: 10px 20px;
    background-color: @color-buttons-right;
    /* color: #ffffff; */
    margin-left: 5px;
    border-radius: 10px;
}

#workspaces button:hover {
    /* background: rgba(0, 0, 0, 0.2); */
    background-color: @color-buttons-hover-right;
    box-shadow: inset 0 -7px @color-black;
}

#workspaces button.focused {
    /* background-color: @color-green; */
    background-color: transparent;
    box-shadow: inset 0 -3px #ffffff;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#mode {
    background-color: #64727D;
    box-shadow: inset 0 -3px #ffffff;
}

#disk,
#temperature,
#backlight,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#cpu,
#memory,
#mpd {
    padding: 0 5px;
    background-color: @color-buttons-right;
    min-width: 60px;
    min-height: 6.54ex;
    transition: box-shadow .2s ease;
}

@keyframes fill {
  to {
    /* background-color: red; */
    /* color: #000000; */
    box-shadow: inset 7rem 0 0 0 @color-neon-blue;
  }
}

@keyframes rounding {
  to {
    background-color: @color-neon-light-blue;
    /* color: #000000; */
    box-shadow: inset 0px 0px 10px 6px @color-neon-blue;
  }
}

#network,
#pulseaudio,
#power-profiles-daemon,
#battery,
#clock,
#bluetooth {
  padding: 0 5px;
  background-color: @color-dark-blue;
  min-width: 60px;
  min-height: 6.54ex;
  transition: box-shadow .2s ease;
  box-shadow: inset 0px 0px 10px 2px @color-sky-blue;

  animation-name: rounding;
  animation-duration: 1.5s;
  animation-timing-function: steps(30);
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#window,
#workspaces {
    /* margin: 0 4px; */
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#clock {
    /* background-color: #64727D; */
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
#clock:hover {
    /* background-color: @color-buttons-hover-right; */
    box-shadow: inset 0 -7px @color-black;
}

#battery {
    /* background-color: #ffffff; */
    /* color: #000000; */
    /* border-radius: 10px; */
}
#battery:hover {
    /* background-color: @color-buttons-hover-right; */
    box-shadow: inset 0 -7px @color-black;
}

#battery.charging, #battery.plugged {
    /* color: #ffffff; */
    /* background-color: #26A65B; */
    /* border-radius: 10px; */
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
    /* background-color: #f53c3c; */
    /* color: #ffffff; */
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
    /* border-radius: 10px; */
}

#power-profiles-daemon:hover {
    /* padding-right: 15px; */
    /* border-radius: 10px; */
    /* background-color: @color-buttons-hover-right; */
    box-shadow: inset 0 -7px @color-black;
}

#power-profiles-daemon.performance {
    /* background-color: #f53c3c; */
    /* color: #ffffff; */
}

#power-profiles-daemon.balanced {
    /* background-color: #2980b9; */
    /* color: #ffffff; */
}

#power-profiles-daemon.power-saver {
    /* background-color: #2ecc71; */
    /* color: #000000; */
}

label:focus {
    background-color: #000000;
}

#cpu {
    background-color: #2ecc71;
    /* background-color: transparent; */
    color: #000000;
    min-width: 64px;
    border-top-left-radius: 0px 100px;
    border-bottom-left-radius: 0px 100px;
}
#custom-aftercpu {
    /* background-color: red; */
    color: rgba(255,0,0,0);
    margin-right: -33px;
    min-width: 50px;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
    box-shadow: 0px 0px 0px 9px #2ecc71;
    /* border-left: none; */
}

#memory {
    background-color: red;
    min-width: 64px;
    border-top-right-radius: 0px 100px;
    border-bottom-right-radius: 0px 100px;
}

#custom-premem {
    /* background-color: red; */
    color: rgba(0,0,0,0);
    margin-left: -33px;
    min-width: 50px;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    box-shadow: 19px 0px 0px 0px red;
    border-left: none;
}

#disk {
    background-color: #964B00;
    border-radius: 10px;
}

#backlight {
    background-color: #90b1b1;
    border-radius: 10px;
}

#network {
    /* background-color: #2980b9; */
    /* border-radius: 10px; */
}

#network.disconnected {
    /* background-color: #f53c3c; */
    /* border-radius: 10px; */
}
#network:hover {
    /* background-color: @color-buttons-hover-right; */
    box-shadow: inset 0 -7px @color-black;
}

#pulseaudio {
    /* background-color: #f1c40f; */
    /* color: #000000; */
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

#pulseaudio.muted {
    /* background-color: #90b1b1; */
    /* color: #2a5c45; */
    /* border-radius: 10px; */
}
#pulseaudio:hover {
    box-shadow: inset 0 -7px @color-black;
}

#wireplumber {
    background-color: #fff0f5;
    color: #000000;
}

#wireplumber.muted {
    background-color: #f53c3c;
}

#custom-media {
    background-color: #66cc99;
    color: #2a5c45;
    min-width: 100px;
}

#custom-media.custom-spotify {
    background-color: #66cc99;
}

#custom-media.custom-vlc {
    background-color: #ffa000;
}

#temperature {
    background-color: #f0932b;
}

#temperature.critical {
    background-color: #eb4d4b;
}

#tray {
    background-color: #2980b9;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}

#bluetooth:hover {
    /* background-color: @color-buttons-hover-right; */
    box-shadow: inset 0 -7px @color-black;
}

#idle_inhibitor {
    background-color: #2d3436;
}

#idle_inhibitor.activated {
    background-color: #ecf0f1;
    color: #2d3436;
}

#mpd {
    background-color: #66cc99;
    color: #2a5c45;
}

#mpd.disconnected {
    background-color: #f53c3c;
}

#mpd.stopped {
    background-color: #90b1b1;
}

#mpd.paused {
    background-color: #51a37a;
}

#language {
    background: #00b093;
    color: #740864;
    padding: 0 5px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state {
    background: #97e1ad;
    color: #000000;
    padding: 0 0px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state > label {
    padding: 0 5px;
}

#keyboard-state > label.locked {
    background: rgba(0, 0, 0, 0.2);
}

#custom-power {
  background-color: @color-dark-blue;
  color: #ffffff;
  padding: 0 5px;
  margin: 0 5px;
  margin-right: 20px;
  border-radius: 10px;
}

#custom-menu {
  background-color: @color-grey;
  color: @color-black;
  padding: 0 0;
  border-radius: 50%;
  border: none;
  min-width: 6.54ex;
  min-height: 6.54ex;
  transition: all 0.5s ease;

  animation-name: rounding;
  animation-duration: 1.5s;
  animation-timing-function: steps(30);
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#group-menu-group #custom-menu:hover {
  background-color: @color-buttons-hover-right;
  min-height: 3.80ex;
  min-width: 3.80ex;
}
#custom-firefox {
  background-color:rgba(0, 200,255,0);
  color: @color-international-orange;
  border-radius: 50%; 
  margin: 10px;
  transition: all 0.5s ease;
  /* transition: opacity 0.5s ease, background-color 0.5s ease; */
}

#custom-firefox:hover {
  background-color: rgb(150, 50, 0);
  color: @color-international-orange;
  border-radius: 50%; 
  min-width: 3.80ex;
  min-height: 3.80ex;
  padding-left: 6px;
}

#custom-discord {
  background-color:rgba(0, 200,255,0);
  color: @color-neon-blue;
  border-radius: 50%; 
  margin: 10px;
  transition: all 0.5s ease;
}

#custom-discord:hover {
  background-color: @color-grey;
  color: @color-neon-blue;
  border-radius: 50%; 
  min-width: 3.80ex;
  min-height: 3.80ex;
  padding-left: 6px;
}

#custom-spotify {
  background-color: rgba(0, 200, 255, 0);
  color: @color-green;
  border-radius: 50%; 
  margin: 10px;
  transition: all 0.5s ease;
}

#custom-spotify:hover {
  background-color: @color-black;
  color: @color-green;
  border-radius: 50%; 
  min-width: 3.80ex;
  min-height: 3.80ex;
  padding-left: 6px;
  opacity: 1;
}

#custom-brave {
  background-color:rgba(0, 200,255,0);
  color: @color-coral-red;
  border-radius: 50%; 
  margin: 10px;
  transition: all 0.5s ease;
}

#custom-brave:hover {
  background-color: @color-international-orange;
  color: @color-white;
  border-radius: 50%; 
  min-width: 3.80ex;
  min-height: 3.80ex;
  padding-left: 6px;
}

#group-menu-group:hover #custom-firefox,
#group-menu-group:hover > #custom-firefox,
#group-menu-group.expanded #custom-firefox,
#group-menu-group:hover #custom-discord,
#group-menu-group:hover > #custom-discord,
#group-menu-group.expanded #custom-discord,
#group-menu-group:hover #custom-spotify,
#group-menu-group:hover > #custom-spotify,
#group-menu-group.expanded #custom-spotify { opacity: 1;
  min-height: 4.44ex;
  /* margin-left: 10ex; */
}

#scratchpad {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad.empty {
	background-color: transparent;
}

#privacy {
    padding: 0;
}

#privacy-item {
    padding: 0 5px;
    color: white;
}

#privacy-item.screenshare {
    background-color: #cf5700;
}

#privacy-item.audio-in {
    background-color: #1ca000;
}

#privacy-item.audio-out {
    background-color: #0069d4;
}
